html{
    max-height: 700px;
    }
    
    body {
    width: 70%;
    margin: 0 auto;
    margin-top: 115px;
    text-align: center;
    margin-bottom: 40px;
    }
    
    .container {
    width: 100%;
    max-width: 1280px;
    }
    
    .navbar-brand {
    margin-left: 20px;
    }
    
    a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    }
    
    .achtergrond {
    background-color: #fcd20a;
    padding-bottom: 20px;
    border-left: 20px solid #212529;
    border-right: 20px solid #212529;
    border-bottom: 20px solid #212529;
    }
    
    .fullscreen-achtergrond {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    }
    
    .fullscreen-achtergond__video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    }

    video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    }
    
    .logo {
    margin-top: 25px;
    margin-left: 30px;
    }

  .reclame {
        border:8px solid #212529;   
        margin-left: 50px;
        margin-top: 37px;
        height: 300px;
        width: 300px;
    }
    
    .reclameVideo{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    body {
    counter-reset: Serial;          
    }
        
    table {
    margin-top: 20px;
    border-collapse: separate;
    font-size: 21px;
    font-weight: bold;
    margin-left: 120px;
    width: 80%;
    background-color: #fcd20a;
    color: white;
    }
    
    .nav-link {
    color: white;
    font-size: 30px;
    }
    
    .tableHead {
    display: flex;
    justify-content: space-between;   
    padding-bottom: 10px; 
    }
    
    .tableBody { 
    background-color: #212529;
    border-radius: 25px;
    display: inline-block;
    border:3px solid #fcd20a;   
    display:table;
    table-layout: fixed;
    width:100%;
    }
    
    table th {
    height: 53px;
    width: 200px;
    background-color: #212529;
    border-radius: 25px;
    display: inline-block;
    border:3px solid #fcd20a;
    color: white;  
    }
    
    #thIcons {
    color: #fcd20a;
    }
    
    tr td:first-child:before {
    counter-increment: Serial;     
    content:  counter(Serial)  ".";
    }